@use './variables' as *;

@mixin flex-center($direction: column, $padding: 0 1.5rem) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    padding: $padding;
}

@mixin respond($breakpoint) {
    @if $breakpoint == sm {
        @media (min-width: $breakpoint-sm) {
            @content;
        }
    }

    @else if $breakpoint == lg {
        @media (min-width: $breakpoint-lg) {
            @content;
        }
    }

    @else if $breakpoint == xl {
        @media (min-width: $breakpoint-xl) {
            @content;
        }
    }
    @else if $breakpoint == xxl {
        @media (min-width: $breakpoint-xxl) {
            @content;
        }
    }
}