$font-family: 'Alata', sans-serif;
$font-family-alt: 'Josefin Sans', sans-serif;
$font-regular:400;
$font-bold:700;
$color-dark: hsl(0, 0%, 0%);
$color-white: hsl(0, 0%, 100%);
$color-accent: hsl(0, 0%, 55%);
$color-accent-dark: hsl(0, 0%, 41%);
$color-accent-light: hsl(0, 0%, 82%);
$breakpoint-xl: 1440px;
$breakpoint-lg: 1024px;
$breakpoint-sm: 375px;